In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

# Graphics in SVG format are more sharp and legible
%config InlineBackend.figure_format = 'svg'
pd.set_option("display.precision", 2)

In [5]:
data = pd.read_csv("cancer.csv")

In [8]:
data.head(5)

,label,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,M,17.99,10.38,122.80,1001.0,0.12,0.28,0.30,0.15,0.24,...,25.38,17.33,184.60,2019.0,0.16,0.67,0.71,0.27,0.46,0.12
1,M,20.57,17.77,132.90,1326.0,0.08,0.08,0.09,0.07,0.18,...,24.99,23.41,158.80,1956.0,0.12,0.19,0.24,0.19,0.28,0.09
2,M,19.69,21.25,130.00,1203.0,0.11,0.16,0.20,0.13,0.21,...,23.57,25.53,152.50,1709.0,0.14,0.42,0.45,0.24,0.36,0.09
3,M,11.42,20.38,77.58,386.1,0.14,0.28,0.24,0.11,0.26,...,14.91,26.50,98.87,567.7,0.21,0.87,0.69,0.26,0.66,0.17
4,M,20.29,14.34,135.10,1297.0,0.10,0.13,0.20,0.10,0.18,...,22.54,16.67,152.20,1575.0,0.14,0.20,0.40,0.16,0.24,0.08

In [11]:
data[data.isna().any(axis=1)]

Empty DataFrame
Columns: [label, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
Index: []

[0 rows x 31 columns]

**No nan values**

In [1]:
from src.homeworks.KNN.knn_tree.KDTree import KDTree

ModuleNotFoundError: No module named 'src'